
body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40px auto;
  grid-template-areas:
  "nav nav"
  "options basket";
}

.nav {
  grid-area: nav;
  background: #333;
  color: white;
  display: flex;
  list-style-type: none;
  padding: .5em .5em 0;
  margin: 0;

  .nav-item {
    padding: 0 0 5px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;

    &.selected {
      border-bottom-color: red;
      color: red;
    }

  }

}

.basket {
  grid-area: basket;
  background: #eee;
  padding: 2em;
}

.options {
  grid-area: options;
  display: flex;
  flex-flow: row wrap;
}


.option {
  background: #eee;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  max-height: 300px;

  &.disabled {
    opacity: .3
  }
}

.next-button {
  color: white;
  background: blue;
  border: 0;
  padding: 0 1em;
  font-size: 1.2em;
}
